.drinkCount {
    background-color: #08BF30;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 48px;
}

.drinkType {
    padding-left: 10px;
    font-size: 32px;
}